// Reset for all 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato , "Helvetica ", Roboto,Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    background: #805EFE;
}
.nav_overlay{
    max-width: 965px;
    margin: 0 auto;
    font-family: lato , "Helvetica ", Roboto,Arial, Helvetica, sans-serif;
    word-spacing: 120%;
    padding: 0 20px;
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ;
    
    .main_btn{
        padding: 10px 20px;
        background: #fff;
        color: #6036fe;
        border-radius: 5px;
        box-sizing: border-box;
        &:hover{
            color: #fff;
            background: #805EFE;
        }
    }
}
a{
    text-decoration: none;
    color: #cccccc;
    font-size: 14px;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 2px;
    transition: all .4s ;
    &:hover{
        color: #fff;
    }
}
// ============HOME SECTION ====================
.Home{
    background: url(https://source.unsplash.com/fGbxW4TDTQU/1200x1000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    background-attachment: fixed;
    .home_overlay{
        padding: 100px 20px;
        background: rgba(128, 94, 254, 0.8);
        color: #fff;
    }
    .home_hero{
        padding: 100px 20px;
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .home_title{
            font-size: 35px;
            line-height: 150%;
            font-weight: normal;
            margin-bottom: 10px;
        }
        .home_txt{
            font-size: 19px;
            line-height: 150%;
            text-align: center;
            font-weight: 300;
            margin-bottom: 40px;
        }
        .home_btn{
            background: #fff;
            border-radius: 3px;
            color: #6036fe;
            margin-bottom: 5px;
            &:hover{
                background: #6036fe;
                color: #fff;
            }
        }
    }
}
// =========MAIN CONTENT ITEMS =============
.main{
    background: #f8f7fc;
    color: #352f4a;
}
.main_item{
    max-width: 965px;
    margin: 0 auto;
    padding: 10px 20px;
    .main_item_one{
        display: flex;
        max-width: 965px;
        margin: 0 auto;
        .img_wraper{
            flex-basis: 50%;
            padding: 0 20px;
            img{
                width: 100%;
            }
        }
        .main_txt{
            padding:5px 8px ;
            flex-basis: 50%;
            color: #352f4a;
            h2{
            font-size: 35px;
            line-height: 150%;
            font-weight: normal;
            margin: 23px 0 5px ;
            }
            p{
            font-size: 19px;
            line-height: 150%;
            text-align: center;
            font-weight: 300;
            margin-bottom: 40px;
            margin: 19px 0;
            }
        }
    }
    .two{
        flex-direction: row-reverse;
    }
    .staff{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            margin: 40px auto 20px;
            width: 45px;
            height: 55px;
        }
        h2{
           text-align: center;
           margin: 23px auto 5px;
        }
        .members{
            display: flex;
            justify-content:center;
            width: 100%;
            margin: 40px auto;
            .member_one{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 20px;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 0 20px;
                }
                h5{
                    font-weight: normal;
                }
                small{
                    font-weight: 300;
                }
            }
        }
    }
}
hr{
    border-top: 1px solid #E4E0F4;
    border-left: none;
    border-right: none;
    border-bottom: none;
    max-width: 965px;
    margin: 20px auto;
}
// =============FOOTER==========
footer{
    background: #805efe;
    padding: 20px ;
    color: #E4E0F4;
    .footer_overlay{
        max-width: 965px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .footer_text{
        flex-basis: 50%;
        padding: 20px 30px;
        img{
            margin: 20px 10px;
        }
        p{
            margin: 20px 10px;
            line-height: 150%;
            font-weight: 300;
            font-size: 19px;
        }
    }
    .footer_nav{
        padding: 20px 10px;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
@media only screen and (max-width:645px){
    .main_item_one{
        flex-direction: column;
         .img_wraper{
             flex-basis: 100%;
        }
        .main_txt{
            flex-basis: 100%;
        }
    }
    .main_item{
        text-align: center;
    .two{
        flex-direction: column;
        .img_wraper{
            flex-basis: 100%;
        }
    }
    }
}